h1, h2, h3, p {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

h2 {
	margin: 0;
}

p {
	font-size: 12;
}

#bg {
    width: 100%; 
    height: 100%;
}
#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto;
    width: 100%;
    height: 100%;
    user-drag: none; 
    -moz-user-select: none;
    -webkit-user-drag: none;
}
body {
    background: white;
    height: 100%;
}
table {
    width: 100%;
}

thead {
    background: LightGray; 
    border-top-style: solid; 
    border-bottom-style: solid; 
    border-width: 2px;
}

th {
    padding: 10px;
}

.first {
    text-align: left;
}

.last {
    text-align: right;
}

td {
    padding: 10px;
}

button.large_btn {
	background-color: #EF8319;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    border: solid;
    border-width: 1px;
    border-color: #FFC966;
    padding: 10px;
    font-weight: bold;
    font-size: 12;
    color: white;
}
button.large_btn:hover{
	background-color: white;
	color: #EF8319;
}

#home_banner {
    background-color: rgba(239, 221, 111,0.6);
    border-bottom-style: solid;
    border-width: 2px;
}

#banner {
    background: Lightgray;
    border-style: solid;
    border-width: 2px;
}

#home_text_box {
    position: relative;
    margin-top: 15%;
    margin-bottom: 15%;
    background-color: rgba(255,255,255,0.8);
}

#main {
    height: 100%;
    border-style: solid;
}

#sidebar {
    padding: 0;
}

#menu_screen {
	padding: 0; 
	margin: 0;
	border-left: solid;
	border-width: 2px;
}

#menu_table {
	display: block;
	width: 100%;
	height: 450px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px; 
}
#preparation{
    display: block;
    width: 100%;
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.remove {
	 display:block;
    width:25px;
    height:25px;
    line-height:24px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    text-align: center;
    text-decoration: none;
    background: #ff2f2f;
    font-size: 8px;
    font-weight: bold;
}
.remove:hover {
    color: #ff2f2f;
    background: white;
    border: 1px solid #ff2f2f;
}

.center {
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
    padding-bottom: 10px;
}
#sum {
    text-align: right;
    padding-right: 10px;
} 

#searchbar {
    background: #FFD273;
    border-bottom: solid;
    border-width: 2px;
    padding-left: 15px;
    padding-top: 5px;
    margin: 0;
}
#overview {
    height: 100%;
    border-style: solid;
    background: #FFD273;
}
#total_cost{
    border-left: dashed;
    border-color: grey;
}

#print{
    border-top: dashed;
    padding-top: 30px;
}

#text_padding {
	padding-left: 20px;
}