h1, p {
	font-family: "Comic Sans MS", cursive, sans-serif;
}
body {
    background-color: white;
    height: 100%;
}

table {
    width: 100%;
}

thead {
    background: LightGray; 
    border-top-style: solid; 
    border-bottom-style: solid; 
    border-width: 2px;
}

th {
    padding: 10px;
}

.first {
    text-align: left;
}

.last {
    text-align: right;
}

td {
    padding: 10px;
}

button.large_btn {
	background-color: #EF8319;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    border: solid;
    border-width: 1px;
    border-color: #FFC966;
    padding: 10px;
    font-weight: bold;
    color: white;
}
button.large_btn:hover{
	background-color: white;
	color: #EF8319;
}

input {
    width: 30px;
    text-align: middle;
}

.container {
    padding: 0;
    margin: 0;
    width: 98%;
}

#banner {
    background: Lightgray;
    border-bottom: solid;
    border-width: 2px
}

#main {
    height: 100%;
    border-bottom: solid;
}

#sidebar {
    border-right-style: solid; 
    height: 100%;
    margin-left: 20px;
    padding: 0;
}

.center {
    margin-left: auto; 
    margin-right: auto; 
    width: 60%; 
    padding-bottom: 10px;
}
#sum {
    text-align: right;
    padding-right: 10px;
} 